@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kufam&family=Righteous&display=swap');
@font-face {
    font-family: "Bintang";
    src: url("../assets/Bintang.ttf");
}
@layer base {
  html {
    font-family: 'Kufam', sans-serif;
    background-color: #01849a;
  }
}
@layer components {
  .logoFont {
    font-family: "Bintang";
  }
  .titleLetter {
    font-family: 'Righteous', cursive;
  }
  .subTitleLetter {
    font-family: 'Courgette', cursive;
  }
}